# 不同产品的销售情况

In [1]:
import pandas as pd 
from beakerx import *
import pandasql
pysqldf = lambda sql: pandasql.sqldf(sql, globals())

In [9]:
df_csv = pd.read_csv(r"C:\Users\shoujunw\Downloads\order1.csv") # df["mi"] = df["mi"].dt.strftime('%Y-%m-%d')

df:DataFrame = pysqldf("""
select julianday(Date(ma)) - julianday(Date(mi)) as dua
    , * 
    from df_csv
    -- where ma -mi > 7 -- 选取持续时间>1周的产品

""")
# 给sum_amount, avg_amount_night 添加rank
# df["g"] = "g"
df["sum_amount_rk"] = df["sum_amount"].rank(ascending=False).astype(int)
df["avg_amount_night_rk"] = df["avg_amount_night"].rank(ascending=False).astype(int)
df.to_csv("tmp.csv")
# TableDisplay(df)

In [10]:
tmp_df = pd.read_csv("tmp.csv", index_col=0)
TableDisplay(tmp_df)

D:\Applications\anaconda3\lib\site-packages\beakerx\tabledisplay\tabledisplay.py:109: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  value = args[0][columnName].get_values()[index]
D:\Applications\anaconda3\lib\site-packages\beakerx\tabledisplay\tabledisplay.py:114: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  index_values = args[0].index.get_values()[index]

# 如何权衡 量多 间夜gmv小   和 量少间夜gmv多的 比较
1. 产品: 别栋别墅: 每间夜8542价格最高, 所贡献的总体gmv: 排名275名: 17084
        新房特惠: 每间夜价格小308, 订单量多贡献总体gmv: 5亿,

In [114]:
newdf = pd.DataFrame([[0.2], [0.1], [0.3]], columns=["a"])
newdf["g"] = "g"
newdf

     a  g
0  0.2  g
1  0.1  g
2  0.3  g

In [116]:
newdf.groupby("g")["a"].rank().astype(int)

0    2
1    1
2    3
Name: a, dtype: int32

# 活动持续时间

In [20]:
# 0-6天

,dua,product_name,mi,ma,sum_amount,avg_amount,max_amount,min_amount,avg_amount_night
0,0,1.5m大床房(内宾)(PP)(预付),2019-10-31,2019-10-31,144.000000,144.000000,144.000000,144.000000,144.000000
1,-1,201双床间,2019-10-26,2020-05-02,1004.000000,334.666667,438.000000,283.000000,334.666667
2,0,4人间(床位),2018-09-29,2018-09-29,115.000000,115.000000,115.000000,115.000000,115.000000
3,0,7日起租舱位房(内宾),2018-08-08,2018-09-25,472.000000,67.428571,80.000000,60.000000,67.428571
4,0,8人宿舍(床位房)(混合入住),2020-01-02,2020-01-02,212.000000,212.000000,212.000000,212.000000,106.000000
...,...,...,...,...,...,...,...,...,...
9995,0,素洁两室一厅温馨居,2019-07-27,2019-10-04,969.619995,323.206665,496.000000,235.619995,240.539998
9996,0,绅士六人间(一张床位)(预付),2019-02-06,2019-04-19,214.590004,71.530001,80.370003,57.000000,71.530001
9997,0,经济复式大床房(PP)(预付),2019-05-01,2019-05-08,804.000000,402.000000,536.000000,268.000000,268.000000
9998,0,绿影繁花-大床房(限时促销),2018-06-07,2018-08-25,443.000000,147.666667,163.000000,127.000000,147.666667
9999,0,绿野仙踪大床房(公卫)(PP)(预付),2018-11-13,2018-11-15,226.000000,113.000000,113.000000,113.000000,113.000000